extends layout
block content
  h1= title
  - let results = [{restuarantRating:3.5, restuarantCost:400.00, restuarantLocation: "Maryville"},{restuarantRating:4.5 , restuarantCost:700.00, restuarantLocation: "Saint Joe"},{restuarantRating:4.9 , restuarantCost:100.00, restuarantLocation: "Omaha"}]
  div(class="container-fluid")
  div(class="row")
    each temp,index in results
        div(class="col-sm-2")  #{temp.restuarantRating} -  #{temp.restuarantCost} - #{temp.restuarantLocation}